<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

 <form action="sinscrireU" method="post">
 <div class="form-group">
	  <label>Last name: </label><br/>
	<input style="width: 50%"  type="text" name="lastname" /><br/>
	  <label>First name: </label><br/>
	<input style="width: 50%"   type="text" name="firstname" /><br/>
	  <label>Email: </label><br/>
	<input  style="width: 50%" type="email" name="email" /><br/>
	  <label>Password: </label><br/>
	<input style="width: 50%" type="password" name="pass" /><br/>
	<input    type="submit" value="S'inscrire"/>
	<br/>
	</div>
	</form>
	
</body>
</html>